.ranking-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60vh;
    background-color: #f0f0f0;
}

.ranking-title {
    font-size: 24px;
    margin-bottom: 20px;
}

.ranking-table {
    width: 80%;
    max-width: 600px;
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.ranking-table tr td {
    padding: 10px;
    text-align: center;
}
.user-header,
.score-header {
    padding: 10px;
    text-align: center;
    background-color: #007BFF;
    color: #fff;
}