@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
.App {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.welcome-message{
    font-family: 'Dela Gothic One', cursive;;
    font-size: large;
    margin: 0px 10px 150px 0px;
    transform: rotate(-5deg);
}

.flex {
    display: flex;
}

.row {
    flex-direction: row;
}

.posts-container {
    margin-top: 20px;
}

.post {
    background-color: #f9f9f9;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.post h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.options {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.options a {
    padding: 10px 20px;
    background-color: #eb4444; 
    color: #fff; 
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  .options a:hover {
    background-color: #D60000; 
  }
  