* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  background-color: #f0f0f0; 
}

.jcc {
  justify-content: center;
}

.aic {
  align-items: center;
}

.margin10 {
  margin: 10px;
}

.pad10 {
  padding: 10px;
}

.gap15 {
  gap: 15px;
}

.flex {
  display: flex;
}

.row {
  flex-direction: row;
}

.collumn {
  flex-direction: column;
}

.App {
  text-align: center;
  width: 100%;
}


